---
import { Background } from "../module/background";
export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta
      id="testViewport"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>Invitation</title>
  </head>
  <body
    class="bg-gradient-to-tr from-purple-200 via-fuchsia-300 to-yellow-100 bg-fill w-full object-cover h-screen overflow-hidden"
  >
    <header class="flex flex-col">
      <Background client:load />
      <main class="px-10 z-40">
        <div
          class="flex flex-col gap-6 h-screen overflow-hidden w-full justify-center z-40 py-4"
        >
          <h1
            class="text-[#FF1493] font-mono font-bold text-3xl w-full text-center border border-white bg-white bg-opacity-50 cursor-pointer"
          >
            Birth Day Invitation
          </h1>
          <div class="flex w-full justify-center">
            <a href="/party">
              <button
                class="rounded-md bg-pink-700 w-[200px] ml-12 text-white p-2"
                >Buka Undangan</button
              ></a
            >
          </div>
        </div>
      </main>
    </header>
  </body>
</html>
