---
export const prerender = true;
// import { api } from "../service";

// const { data: comments } = await api.get("/comments");
// if (Astro.request.method === "POST") {
//   try {
//     const data = await Astro.request.formData();
//     if (data.getAll) {
//       const full_name = data.get("fullname");
//       const attendance = data.get("attendance");
//       const comments = data.get("comments");
//       api.post("/comments", {
//         data: {
//           Full_Name: full_name,
//           Attendance: attendance === "hadir",
//           Comment: comments,
//         },
//       });
//       data.delete;
//     }
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navLinks = document.querySelectorAll(".nav-link");

    navLinks.forEach(function (link) {
      link.addEventListener("click", function (event) {
        event.preventDefault();

        const targetId = link.getAttribute("href").slice(1);
        const targetElement = document.getElementById(targetId);

        targetElement.scrollIntoView({ behavior: "smooth" });
      });
    });
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta
      id="testViewport"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>Invitation</title>
  </head>
  <body
    class="bg-gradient-to-tr from-purple-200 via-fuchsia-300 to-yellow-100 bg-fill w-full object-cover h-full"
  >
    <audio controls autoplay hidden>
      <source src="lagu.mp3" type="audio/mp3" />
      Your browser does not support the audio element.
    </audio>

    <header class="flex flex-col">
      <main class="px-10 z-40">
        <section
          id="home"
          class="flex flex-col gap-20 h-screen items-center justify-start pt-16"
        >
          <h1 class="text-pink-600 font-semibold text-center text-2xl">
            Hallo teman -teman , keluarga dan saudara saudara Ola tercintaaa
          </h1>
          <div class="flex w-full justify-center">
            <img src="/aurora.png" width="200" alt="" />
          </div>
          <p
            class="text-white bg-pink-400 p-2 rounded-md border border-white font-bold text-center text-lg"
          >
            Di hari ulang tahun Ola yang ke 14 , Ola mau mengundang kalian untuk
            datang dan berkumpul di rumahku
          </p>
        </section>
        <section
          id="alamat"
          class="flex flex-col w-full h-screen items-center justify-center py-12 gap-4"
        >
          <div
            class="bg-pink-500 rounded-md bg-opacity-50 p-1 border border-white text-white w-full justify-center text-center text-2xl"
          >
            Alamat Rumahku
          </div>
          <div class="flex flex-col w-full justify-center items-center">
            <img
              width="200"
              height="200"
              src="https://img.icons8.com/color/96/map-marker.png"
              alt="map-marker"
            />
            <p class="font-bold text-center">
              Jalan Jendral sudirman No.824 di Sebrang Panama Park
            </p>
          </div>
        </section>
        <section
          id="jadwal"
          class="flex flex-col w-full h-screen items-center justify-center py-12 gap-8"
        >
          <div
            class="bg-pink-500 rounded-md bg-opacity-50 p-1 border border-white text-white w-full justify-center text-center text-2xl"
          >
            Janga Lupa Tanggal dan Harinya yaaa ...
          </div>
          <div class="flex flex-col gap-8">
            <div class="flex items-center">
              <img
                width="96"
                height="96"
                src="https://img.icons8.com/color/96/calendar-9.png"
                alt="calendar-9"
              />
              <p class="font-bold text-blue-600">
                Pada Hari Minggu ,Tanggal 9 Juli 2023
              </p>
            </div>
            <div class="text-center font-semibold gap-2 text-pink-900">
              <p>
                Kita akan buat 2 sesi nihh... datang lebih cepat lebih baik ya
                :)
              </p>
              <p>
                Sesi 1 untuk teman-teman : jam 13.00<span
                  ><p>Sesi 2 untuk keluarga : jam 16.00</p></span
                >
              </p>
            </div>
          </div>
        </section>
        <section
          id="comments"
          class="flex flex-col h-screen w-full justify-between items-center py-8"
        >
          <div
            class="bg-pink-500 rounded-md bg-opacity-50 p-1 border border-white text-white w-full justify-center text-center text-2xl"
          >
            Doa darimu sangat berharga bagiku ..
          </div>
          <form method="POST" class="w-full">
            <label>
              Full Name:
              <input class="my-4" type="text" name="fullname" required />
            </label>
            <br />

            <label class="flex items-center my-4">
              Coments:
              <textarea
                name="comments"
                required
                minlength="20"
                class="w-[500px] mx-4"></textarea>
            </label>
            <label>
              Kehadiran :
              <select name="attendance" id="">
                <option value="hadir">hadir</option>
                <option value="tidak">tidak</option>
              </select>
            </label>
            <button class="bg-blue-400 rounded-md mx-4 p-2">Submit</button>
          </form>
          <div class="bg-white w-[350px] h-[300px] rounded-md"></div>

          <!-- {
            comments?.data.map((data) => (
              <ul>
                <li class="bg-white p-1">{data?.attributes.Full_Name}</li>
                <li>{data?.attributes.Attendance ? "Hadir" : "Tidak Hadir"}</li>
                <li>{data?.attributes.Comment}</li>
              </ul>
            ))
          }  -->
        </section>
      </main>
    </header>
  </body>
</html>
